<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MAILROOM OUTLOOK EMAIL SERVICE</title>
    </head>
    <body>
        <h1>Welcome to mailroom outlook email service</h1>
        <p><%= data %></p>
    </body>

</html>
